html,
body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    max-width: 700px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1180px;
  }
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

.none {
  display: none !important;
}
