@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.body {
  font-family: $main-font;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $color-font-1;

  background:
  $gradient-2 center/cover no-repeat,
  url("../../images/background-line.svg") top/1020px 453px no-repeat fixed,
  url("../../images/background-cover.svg") top/1020px 453px no-repeat fixed,
  $gradient-3 center/cover no-repeat;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    background:
    $gradient-2 center/cover no-repeat,
    url("../../images/background-line.svg") top/1920px 852px no-repeat fixed,
    url("../../images/background-cover.svg") top/1920px 852px no-repeat fixed,
    $gradient-3 center/cover no-repeat;
  }
}

.rooms {
  justify-items: center;
  align-items: center;
  
  &__title {
    margin-bottom: 20px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-items: center;
    align-items: center;

      @media (min-width: $tablet-width) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        column-gap: 28px;
        row-gap: 37px;
      }
    
      @media (min-width: $desktop-width) {
      }
      
      .card {
          position: relative;
          max-width: 288px;
          min-height: 347px;
          line-height: 21px;
          background: linear-gradient(0deg, #0a2240 10%, #ffffff00 100%);
          border-radius: 13px;

          @media (min-width: $tablet-width) {
            max-width: calc(50% - 14px);
            min-height: 420px;
            border-radius: 10px;
            line-height: 24px;
          }
        
          @media (min-width: $desktop-width) {
            width: 372px;
            min-height: 372px;
          }

          &__wrapper {
            padding: 21px;

            @media (min-width: $tablet-width) {
              padding: 24px;
            }

          }

          &__img-inner {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;	
            z-index: -1;
            border-radius: 13px;
          }

          &__img {
            
          }

          .card__info {
            min-height: 176px;
            display: flex; 
            flex-direction: column; 
            justify-content: flex-end; 
            align-items: flex-start;

            @media (min-width: $tablet-width) {
              min-height: 233px;
            }

            @media (min-width: $desktop-width) {
              min-height: 252px;
            }
          }

          .card__info-title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;

            position: relative;
            font-size: 20px;
            line-height: 26px;
            font-weight: 700;
            color: #fff;

            @media (min-width: $tablet-width) {
              font-size: 24px;
              line-height: 32px;
            }
          }

          .card__info-description {
            font-size: 14px;
            margin-bottom: 21px;
            line-height: 21px;
            font-family: $secondary-font;

            @media (min-width: $tablet-width) {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 20px;
            }
          }

          &__price__wrapper {
            display: flex;
            flex-wrap: wrap;
            column-gap: 5px;
            row-gap: 1px;

            @media (min-width: $desktop-width) {
              width: 42.89%;
              margin-bottom: 0;
            }
          }

          &__price {
            padding-top: 18px;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
              
            display: flex;
            flex-wrap: wrap;

            padding-top: 18px;

            @media (min-width: $tablet-width) {
              padding-top: 17px;
            }

            @media (min-width: $desktop-width) {
              display: flex;
              gap: 1.9%;
              align-items: end;
            }
          }

          &__price__about {
            width: 100%;

            font-size: 14px;
            line-height: 21px;
            font-weight: bold;
            font-family: $secondary-font;

            @media (min-width: $tablet-width) {
              font-size: 16px;
            }
          }

          &__price__label {
            margin: 0;
            font-size: 17px;
            line-height: 24px;
            font-weight: 700;
            align-self: center;

            @media (min-width: $tablet-width) {
              font-size: 19px;
            }
          }

          &__price__amount {
            margin-right: 3px;
            font-size: 20px;
            line-height: 32px;
            color: #ff4b77;
            font-weight: bold;

            @media (min-width: $tablet-width) {
              font-size: 24px;
            }
          }

          &__price__currency-icon {
            font-family: $secondary-font;
            font-size: 20px;
            line-height: 32px;
            font-weight: normal;
            color: rgba(255, 255, 255, .6);

            @media (min-width: $tablet-width) {
              font-size: 23px;
            }
          }

          
          &__button {
            text-align: center;

            margin-top: 13px;

            padding: 7px 7px 11px 10px;
            width: 100%;

            font-family: $secondary-font;
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: $color-font-1;
            background-color: $color-primary-1;
            box-shadow: 0px 4px 4px 0px transparent;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

            @media (min-width: $tablet-width) {
              padding: 11px 0px 13px 0px;

              font-size: 16px;
            }

            @media (min-width: $desktop-width) {
              width: 55.21%;
              margin-top: 0;
            }

            &:hover,
            &:focus-visible {
              background-color: $color-primary-3;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              outline: none;
            }

            &:active {
              color: $color-primary-4;

              background-color: $color-primary-3;
            }
          }
      }
  }
}
